<!DOCTYPE html>
<html>
<head>
    <link href="/assets/stylesheets/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="assests/javascript/vendor/d3.v3.js"></script>
    <script src="assests/javascript/vendor/nv.d3.js"></script>
</head>
<body>
  <p>Hello</p>
  <p>{{name}}</p>

  <svg style='height:600px'/>
  <script src="/javascript/mychart.js"></script>
</body>
</html>