<!DOCTYPE html>
<html>
<head>
    <link href="/assets/stylesheets/nv.d3.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/javascript/vendor/d3.v3.js"></script>
    <script type="text/javascript" src="/javascript/vendor/nv.d3.js"></script>
</head>
<body>
  <h2>Your Latest {{type}}</h2>
  <table class="overview">
      <thead>
      <th>Name</th>
      <th>Distance (Meters)</th>
      <th>Elapsed Time (Seconds)</th>
      </thead>
      <tbody>
      <td>{{name}}</td>
      <td>{{distance}}</td>
      <td>{{elapsed_time}}</td>
      </tbody>
  </table>

  <h2>Your Splits</h2>



</body>
</html>