<!DOCTYPE html>
<head>
  <title>Athlete</title>
</head>
<body>
  <div id="shoe-table", class="shoes">
    <table class="shoes">
    <thead>
     <th>Name</th>
     <th>Distance (Meters)</th>
     </thead>
     <tbody>
     {{#shoes}}
     <tr>
      <td>{{name}}</td>
      <td>{{distance}}</td>
      </tr>
      {{/shoes}}
     </tbody>
    </table>
  </div>
</body>
</html>
